<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let Deb of Departments">
        <tr>
            <th scope="row">1</th>
           <a routerLink="/Home/Empolyee/id"> <td >{{Deb.departmentName_En}}</td></a>
            <td>{{Deb.departmentName_Ar}}</td>
            <td>{{Deb.id}}</td>
          </tr>
    </ng-container>
    
   
   
  </tbody>
</table>
<a     routerLink="/Home"><h1>Home</h1></a>
<a     routerLink="/Home/Empolyee/id"><h1>Home</h1></a> 
